#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Global CSS file (e.g., styles.css) */

/* Light mode styles */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark mode styles */
.dark-mode body {
  background-color: #1e1e1e;
  color:orangered;
}


