#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode body {
  background-color: #1e1e1e;
  color:orangered;
}

.dark-mode h2 {
  color: orangered;
}
